{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "plugins": ["prettier"],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "endOfLine": "auto"
            }
        ],
        "no-console": "warn",
        "quotes": ["error", "single"],
        "no-unused-vars": "warn",
        "prefer-const": "warn",
        "comma-dangle": ["warn", "never"],
        "semi": ["warn", "always"]
    },
    "ignorePatterns": ["build", "node_modules"]
}
